html,
body {
  height: 100%;
}

body {
  background-color: #fff;
  font-family: sans-serif;
  overflow: hidden;
}

h1 {
  font-weight: normal;
  font-size: 140%;
  margin: 10px;
}

#blocklyDiv {
  float: bottom;
  height: 90%;
  width: 100%;
}

.tab {
  display: inline-block;
  background-color: #eee;
  border-style: solid;
  border-width: 2px;
  border-color: lightgrey;
  padding: 0.5em;
}
.tab:hover {
  background-color: lightgrey;
  cursor: default;
}

.current-tab {
  background-color: lightgrey !important;
}

#templateTab {
  display: none;
}

#interactionDiv {
  background-color: lightgrey;
  height: 100px;
}